.banner-image{
    filter: brightness(50%);
}

.my-btn{
    background-color: #289BDE;
    color: white;
    font-size: 20px;
}

.my-regi-btn{
    background-color: white;
    color: #289BDE;
}

.registration{
    background-color: #289BDE;
    height: 350px;
}
.fa-star{
    color: #F59E0B;
}
.price{
    color: #289BDE;
}


/* --------------------------------
            Media Queries 
---------------------------------*/

@media only screen and (max-width: 576px) {
    .registration{
        width: 90%;
        margin: 0 auto;
    }
    .banner-header{
        font-size: 14px;
    }
    .banner-text{
        font-size: 10px;
    }
    .banner-btn{
        font-size: 8px;
    }
  }